.App {
  text-align: center;
}

.App-header {
  background-color: #282828;
  font-family: 'SF Mono', monospace; /* Set Roboto as the default font */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ebd89e;
  padding: 20px;
  padding-top: 60px;
  position: relative; /* Ensure the header is the positioning context for absolute elements */
}

/* Set a base font size and line height */

.Timezone-container {
  display: column;
  justify-content: space-between;
  align-items: stretch; /* Stretch children to the same height */
  width: 100%;
  height: 47.3vh;
  overflow: hidden; /* Hide overflow on the container */
}

/* Ensure the list and image have the same height */
.Timezone-list, .Timezone-img {
  height: 100%; /* Make sure both elements have the same height */
}

.Timezone-list {
  overflow-y: auto;
  padding-right: 10px;
}

.Timezone-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.Timezone-list li {
  padding: 5px 0;
}

.Timezone-img {
  width: 65%;
  display: flex;
  justify-content: right;
  align-items: right;
}

@media (max-width: 768px) {
  .Timezone-container {
    flex-direction: column;
    height: auto;
  }

  .Timezone-list {
    max-height: 30vh;
    margin-bottom: 20px;
  }
}

/* Current time styles */
.current-time {
  color: #e5a50a;
  font-size: 20px;
}


.timezone-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between boxes */
}

/* Timezone box styles */
.timezone-box {
  background-color: #57514e;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem; /* Match table cell height */
  width: 150px; /* Set a fixed width */
  padding: 0 0.75rem;
  margin-bottom: 0.5rem;
  font-size: 14px;
  overflow: hidden; /* Prevent overflow of text */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.close-button {
  background: none;
  border: none;
  color: #ebd89e;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
  margin-left: 10px;
  font-size: 16px;
  line-height: 1;
}

.current-gmt-container {
  position: absolute; /* Use absolute positioning */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  border-radius: 1px; /* Optional: rounded corners */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); /* Optional: shadow effect */
}



/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Style for table cells */
.table th, .table td {
  padding: 0.5rem 0.75rem;
  vertical-align: middle;
  border: none;
  border-right: 1px solid #57514e;
  height: 2.5rem; /* Set a fixed height */
}

/* Remove the right border from the last cell in each row */
.table tr td:last-child,
.table tr th:last-child {
  border-right: none; /* Remove right border for the last cell */
}

/* Remove horizontal borders */
.table tr {
  border-bottom: none; /* Ensure no bottom border for each row */
}

.table th {
  background-color: #57514e; /* Light gray for header */
  color: #ebd89e; /* Color of the cell values */
  font-weight: normal;
}

/* Align the first column header to the left */
.table th:first-child {
  text-align: left;
}

/* Default background color for table cells */
.table td {
  background-color: #3c3836; /* Dark background for cells */
  color: #ebd89e; /* Color of the cell values */
}

/* Color for the values of the first column */
.table td:first-child {
  color: #ebd89e; /* Color for the first column values */
  text-align: left;
  padding-right: 40px; /* Adjust this value to increase/decrease space */
}

/* Highlight cells with values between 9 and 17 */
.table td.highlight {
  color: #e5a50a; /* Yellow background for highlighted cells */
}

/* Optional: Add a hover effect */
.table tr:hover {
  background-color: #f1f1f1; /* Light gray on hover */
}

/* Remove bottom borders from table rows */
.table tr {
  border: none; /* Ensure no borders for rows */
}
