.App {
  text-align: center;
  width: 100%; /* Ensure the App uses the full width */
  margin: 0; /* Remove any margin */
}


.App-header {
  background-color: #282828;
  font-family: 'Roboto', sans-serif; /* Set Roboto as the default font */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #ebd89e;
  padding: 20px;
  position: relative; /* Ensure the header is the positioning context for absolute elements */
  width: 100%; /* Ensure the header uses the full width */
}

.Timezone-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 60vh;
  margin-top: 20px;
}

.Timezone-list {
  width: 30%;
  font-size: 14px;
  overflow-y: auto;
  padding-right: 20px;
}

.Timezone-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.Timezone-list li {
  padding: 5px 0;
}

.Timezone-img {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .Timezone-container {
    flex-direction: column;
    height: auto;
  }

  .Timezone-list, .Timezone-img {
    width: 100%;
  }

  .Timezone-list {
    max-height: 30vh;
    margin-bottom: 20px;
  }
}

.current-time {
  font-family: 'Roboto', sans-serif; /* Change to Roboto font */
  color: #e5a50a; /* Change to your desired color */
  font-size: 20px; /* Adjust the font size */
}

.timezone-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between boxes */
}

.timezone-box {
  background-color: #57514e;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  font-size: 14px; /* Adjust font size here */
  overflow: hidden; /* Prevent overflow of text */
}

.close-button {
  background: none;
  border: none;
  color: #ebd89e;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  font-size: 16px; /* Adjust close button font size if needed */
}

/* Set the width of the table */
.table {
  width: 80%; /* Adjust as needed */
  border-collapse: collapse; /* Merge borders */
  font-size: calc(2px + 1.5vmin);
}

/* Style for table cells */
.table th, .table td {
  border: none; /* Remove all borders */
  padding: 8px; /* Padding for cells */
  text-align: center; /* Center align text */
  border-right: 1px solid #f2ead0; /* Add right border for vertical lines */
  height: calc(1.5em + .75rem + 2px); /* Match Bootstrap's form-control height */
  padding: .375rem .75rem; /* Match Bootstrap's form-control padding */
  vertical-align: middle;
}

/* Remove the right border from the last cell in each row */
.table tr td:last-child,
.table tr th:last-child {
  border-right: none; /* Remove right border for the last cell */
}

/* Remove horizontal borders */
.table tr {
  border-bottom: none; /* Ensure no bottom border for each row */
}

.table th {
  background-color: #57514e; /* Light gray for header */
  color: #ebd89e; /* Color of the cell values */
}

/* Align the first column header to the left */
.table th:first-child {
  text-align: left;
}

/* Default background color for table cells */
.table td {
  background-color: #3c3836; /* Dark background for cells */
  color: #ebd89e; /* Color of the cell values */
}

/* Color for the values of the first column */
.table td:first-child {
  color: #ebd89e; /* Color for the first column values */
  text-align: left;
  padding-right: 40px; /* Adjust this value to increase/decrease space */
}

/* Highlight cells with values between 9 and 17 */
.table td.highlight {
  color: #e5a50a; /* Yellow background for highlighted cells */
}

/* Optional: Add a hover effect */
.table tr:hover {
  background-color: #f1f1f1; /* Light gray on hover */
}

/* Remove bottom borders from table rows */
.table tr {
  border: none; /* Ensure no borders for rows */
}

.current-gmt-container {
  position: absolute; /* Use absolute positioning */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  border-radius: 1px; /* Optional: rounded corners */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); /* Optional: shadow effect */
}
