.App {
  text-align: center;
}

.App-header {
  background-color: #282828;
  font-family: 'SF Mono', monospace; /* Set Roboto as the default font */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ebd89e;
  padding: 20px;
  padding-top: 60px;
  position: relative; /* Ensure the header is the positioning context for absolute elements */
}

/* Set a base font size and line height */

.Timezone-container {
  display: column;
  float: right;
  align-items: stretch;
  justify-content: space-between;
  align-items: stretch; /* Stretch children to the same height */
  width: 100%;
  height: 47.3vh;
  overflow: hidden; /* Hide overflow on the container */
}


.Timezone-list {
  overflow-y: auto;
  height: 98rem;
}

.Timezone-list ul {
  list-style-type: none;
  text-align: right;
}

.Timezone-img {
  width: 60%;
  display: column;
  justify-content: right;
  align-items: right;
}

@media (max-width: 768px) {
  .Timezone-container {
    flex-direction: column;
    height: auto;
  }

  .Timezone-list {
    max-height: 30vh;
    margin-bottom: 20px;
  }

  .table {
    display: block; /* Change display to block */
    width: 100%; /* Full width */
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevent text wrapping */
  }

  .table th, .table td {
    display: block; /* Change cells to block */
    text-align: left; /* Align text to the left */
    padding: 0.5rem; /* Adjust padding */
    border: none; /* Remove borders */
  }

  .table th {
    background-color: #57514e; /* Keep header background */
    position: sticky; /* Make header sticky */
    top: 0; /* Stick to the top */
    z-index: 10; /* Ensure it appears above other content */
  }
}

/* Current time styles */
.current-time {
  color: #e5a50a;
  font-size: 20px;
}


.timezone-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between boxes */
}

/* Timezone box styles */
.timezone-box {
  background-color: #57514e;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem; /* Match table cell height */
  width: 350px; /* Set a fixed width */
  padding: 0 0.75rem;
  margin-bottom: 0.5rem;
  font-size: 14px;
  overflow: hidden; /* Prevent overflow of text */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.close-button {
  background: none;
  border: none;
  color: #ebd89e;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
  margin-left: 10px;
  font-size: 16px;
  line-height: 1;
}

.current-gmt-container {
  position: absolute; /* Use absolute positioning */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  border-radius: 1px; /* Optional: rounded corners */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); /* Optional: shadow effect */
}

/* Table styles */
.table {
  width: 100%;
  table-layout: fixed; /* Use fixed layout */
}

/* Style for table cells */
.table th, .table td {
  padding: 0.5rem 0rem;
  vertical-align: middle;
  border: none;
  border-right: 1px solid #57514e;
}

/* Remove the right border from the last cell in each row */
.table tr td:last-child,
.table tr th:last-child {
  border-right: none; /* Remove right border for the last cell */
}

/* Remove horizontal borders */
.table tr {
  height: 1rem;
  text-align: center;
  border-bottom: none; /* Ensure no bottom border for each row */
}

.table th {
  background-color: #57514e; /* Light gray for header */
  color: #ebd89e; /* Color of the cell values */
  font-weight: normal;
  border-color: #282828;
}

/* Align the first column header to the left */
.table th:first-child {
  text-align: left;
}

/* Default background color for table cells */
.table td {
  background-color: #3c3836; /* Dark background for cells */
  color: #ebd89e; /* Color of the cell values */
}

/* Color for the values of the first column */
.table td:first-child {
  color: #ebd89e; /* Color for the first column values */
  text-align: left;
}

table th:first-child, /* Target the first column header */
table td:first-child { /* Target the first column data cells */
  min-width: 150px; /* Set a minimum width to prevent shrinking */
  width: 20%; /* Adjust based on your needs */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide any overflowed content */
  text-overflow: ellipsis; /* Optional: Show ellipsis for overflowed content */
  padding: 5px;
}

/* Highlight cells with values between 9 and 17 */
.table td.highlight {
  color: #e5a50a; /* Yellow background for highlighted cells */
}

/* Optional: Add a hover effect */
.table tr:hover {
  background-color: #f1f1f1; /* Light gray on hover */
}

/* Remove bottom borders from table rows */
.table tr {
  border: none; /* Ensure no borders for rows */
}

.table td.highlight {
  background-color: rgba(229, 165, 10, 0.2); /* Use a subtle background color */
}

.table-responsive {
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}
